---
import type { insideSection } from "@/types/home-project";

interface Props {
    inside: insideSection; //Se queja que no encuentra el insideSection
}

const { inside } = Astro.props;
---

<div class="flex justify-center w-full h-auto bg-lime-100">
    <div class="text-center py-5">
        <h2 class="text-xl py-5">{inside.title}</h2>
        <a
            href={inside.link}
            target="_blank"
            class="bg-gray-400 text-white font-bold py-2 px-4 rounded cursor-pointer hover:bg-slate-600"
            >{inside.button}</a
        >
        <img src={inside.image?.url} alt="" class="w-4/5 mx-auto py-5" />
        <!--Es correcto
        agregar el ? para que pueda ser undifined -->
    </div>
</div>
