---
import type { heroSection } from "@/types/home-project";

interface Props {
    hero: heroSection;
}

const { hero } = Astro.props;
---

<section class="w-full bg-slate-100 h-[800px]">
    <div
        class="w-full h-full bg-center relative bg-no-repeat bg-cover bg-black"
        style={`background-image: url('${hero.heroDesktop.url}')`}
    >
        <div class="inset-0 bg-black/50 absolute"></div>
        <div class="max-w-7xl m-auto w-full relative h-full py-20">
            <div
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-custom-orange bg-opacity-60 justify-start items-center flex"
                style="width: 90%; max-width: 1000px; height: auto; padding: 20px;"
            >
                <div style="w-full sm:w-[80%] md:w-[60%]">
                    <h2
                        class="text-gray-100 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-semibold text-left pl-4"
                    >
                        {hero.title}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
