---
import type { heroSection } from "@/types/project-preview";

interface Props {
    hero: heroSection;
}

const { hero } = Astro.props;
---

<section class="w-full bg-slate-100 h-[800px]">
    <div
        class="w-full h-full bg-center relative bg-no-repeat bg-cover bg-custom-blue"
        style="background-image: url('https://res.cloudinary.com/dronteu5m/image/upload/v1737321923/strapi-demo/casabg_5f6e63cbfc.webp'); background-position: bottom left; background-repeat: no-repeat; background-size: 300px 300px;"
    >
        <div class="inset-0 bg-black/50 absolute"></div>
        <div class="max-w-7xl m-auto w-full relative h-full">
            <div class="w-full h-full flex justify-center items-center">
                <h2 class="text-gray-100 text-7xl font-semibold">
                    {hero.title}
                </h2>
            </div>
        </div>
    </div>
</section>
