---
import type { projectSection } from "@/types/project-preview";

interface Props {
    Projects: projectSection;
}

const { Projects } = Astro.props;
---

<div class="w-full h-auto flex flex-col items-center">
    <div class="text-center px-8 sm:px-10 md:px-16 py-10">
        <p class="text-center py-5 text-sm sm:text-base md:text-lg drop-shadow-lg">{Projects.text}</p>
    </div>
    <div class="w-full rounded overflow-hidden shadow-lg bg-white px-20">
        {
            Projects.projectZone?.map((projects) => (
                <div class="flex border-slate-400 border-opacity-30 border-2 my-10">
                    <div>
                        <img
                            class="w-[1000px]"
                            src={projects.heroPreview.url}
                            alt="Card image"
                        />
                    </div>
                    <div class="px-6 py-4 items-center flex">
                        <div class="flex flex-col h-full">
                            <div class="flex-1 mt-24">
                                <div class="font-bold text-xl mb-2">
                                    <h2>{projects.title}</h2>
                                </div>
                                <p class="text-gray-700 text-base">
                                    {projects.intro}
                                </p>
                            </div>
                            <div class="pt-4 pb-2">
                                <div class="pt-4 pb-2">
                                    <button class="text-custom-blue py-2 px-4 border-2 border-opacity-30 border-custom-blue hover:bg-blue-700 hover:text-white">
                                        ir al proyecto
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>
