---

---

<div class="w-full h-auto">
    <div class="px-20 py-20">
        <h2 class="text-xl py-5 text-center">Titulo Intro Preview Projects</h2>
        <p class="py-4 mx-16 text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nihil officiis unde porro excepturi dolore provident recusandae maxime praesentium asperiores impedit numquam, earum quia, eveniet facere laudantium dicta incidunt perferendis ipsam vel. Soluta quasi aperiam pariatur voluptatibus veniam! Blanditiis dolores natus officia neque cumque modi quasi veritatis tempora impedit nulla!</p>
    </div>
</div>
