---
import type { ProjectZone } from "@/types/home-project";

interface Props {
    ProjectZone: ProjectZone;
}

const { ProjectZone } = Astro.props;
---

<div class="w-full bg-orange-200 h-auto flex justify-center">
    <div class="text-center px-16 py-20">
        <h2 class="py-5">{ProjectZone.TitleProjectsZone}</h2>
        <p class="text-justify">{ProjectZone.TextProjectsZone}</p>
    </div>
</div>
